/* Import the Roboto font from Google*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Declaring CSS VARIABLES */
:root {
  /* Fonts */
  --font-family: "Roboto", sans-serf;
  --normal-font: 200;
  --bold-font: 700;
  --line-height: 1.7rem;
  /* Logo */
  --logo-weight-font: 100;
  --logo-weight-font-mobile: 200;
  --logo-color: #F42CC3;
  /* Colors */
  --bg-color: #fff;
  --primary-color: #1d1d1d;
  --secondary-color: #99a3a2;
  /* Shadows ------*/
  --primary-shadow: #99a3a2;
  --secondary-shadow: #a17a69;
  /* Margin */
  --bottom-margin: 1rem; /*encabezado, proyectos*/
  --bottom-margin-2: 4rem;
  --project-margin: 4rem;
  /* Pading */
  --section-topbottom-padding: 2rem;
  --section-pading: 1rem 6rem;
  /* Transition */
  --transition: 0.3s;
}
/* -------------------------------- */


html {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

/* CSS Resets - to remove some default features */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: var(--normal-font);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

p {
  text-align: justify;
}

hr {
  width: 50%;
  margin: 0 25% 0 25%;
  color: var(--primary-color);
  border: 1px dashed;
}


/*----------------------*/
/* ------ Menu -------- */
/*----------------------*/
.menu {
  position: sticky; /* menu remains at the top */
  top: 0;
  left: 0;
  z-index: 1; /* navbar displays over any other element on the web page */
  display: flex;
  align-items: center; /*verticalmente*/
  justify-content: space-between; /* Distribuir items uniformemente. El primer item al inicio, el último al final */
  background-color: var(--bg-color);
}

nav h1 { /* LOGO */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 4em;
  color: var(--logo-color);
  font-weight: var(--logo-weight-font);
  line-height: 0.8;
  letter-spacing: 0.02em;

  padding: 1.5rem 3.5rem ;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.menu  h1{ /* Linea bajo cabecera, logo */
    border-bottom: 3px solid var(--primary-color);
}

nav a { /* MENU */
  text-decoration: none;
  color: var(--secondary-color);
  letter-spacing: 0.2em;
  margin-right: 5rem;
  transition: var(--transition);
}

nav a:hover, nav a:active {
  text-transform: uppercase;
}

nav ul {
  text-align: right;
}

nav ul li {
  font-size: 1.2em;
  font-weight: var(--normal-font);
}

/* MENU MOVILES */
/* The hamburger menu needs to be hidden and make the button look better */
.burger-menu {
  font-size: 2rem;
  border: 0;
  color: var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* RESPONSIVE */
@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
    nav {
        padding: 1.2rem 1rem;
    }

    nav h1 {
      font-size: 40px;
      margin-left: -2rem;
      margin-top: 0rem;
      font-weight: var(--logo-weight-font-mobile);
    }

    nav ul {
      color: black;
      opacity: 1;
      position: fixed;
      flex-direction: column;
      top: 160px;
      left: 10%;
      width: 98%;
      transform: translateX(120%); /* push it to the right and force it out of the viewport */
      transition: transform 0.5s ease-in;
      text-transform: uppercase;
    }

    nav ul li {
      margin: 1px;
    }

    .burger-menu {
        display: block;
      }

    nav ul.show {
        transform: translateX(0);
    }
}


/*----------------------*/
/* --- ABOUT section ---*/
/*----------------------*/
.about { /* Section */
  background-color: #ebf7f5;
  padding: var(--section-pading);
  padding-top: var(--section-topbottom-padding);
  padding-bottom: var(--section-topbottom-padding);
  margin-bottom: var(--bottom-margin-2);
  margin-top: 0.5rem;
  border-top:50px solid #fff;
}

.about h2 { /* About title */
  text-align: left;
  font-weight: var(--normal-font);
  color: var(--secondary-color);
  letter-spacing: 0.1em;
  margin-bottom: var(--bottom-margin);
}

.about p { /* Content */
  line-height: var(--line-height);
  text-align: justify;
}

/* RESPONSIVE */
@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  .about {
    margin-top: 0rem;
    padding: 2rem 1.5rem;
  }

  .about h2{
    text-align: center;
  }

}



/*----------------------*/
/* PROJECTS section */
/*----------------------*/
.projects { /* Section */
  background-color: var(--bg-color);
  margin-bottom: var(--bottom-margin-2);
}

.projects h2{ /* Project title */
  text-align: left;
  font-weight: var(--normal-font);
  color: var(--secondary-color);
  letter-spacing: 0.1em;
  padding: var(--section-pading);
  margin-bottom: var(--bottom-margin);
}

.projects-container { /* Container with individual project containers */
  align-items: center;
  justify-content: center;
  padding: var(--section-pading);
}

.project-container { /* individual project container */
  text-align: center;
  margin-top: var(--project-margin);
  margin-bottom: var(--project-margin);
}

/* Proyectos individuales */
.project-title { /* Título */
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.project-pic { /* Captura web */
  width: 80%;
  height: auto;
  margin-bottom: 2rem;
  border: 1px grey solid;
}

.project-details { /* Contenido escrito */
  width: 80%;
  margin-left: 10%;
  text-align: left;
  padding-bottom: 0rem;
  margin-bottom: var(--bottom-margin-2);
}

.project-container a { /* Enlace web */
  margin-bottom: var(--bottom-margin);
  color: var(--primary-color);
}

.project-card a{ /* Tarjeta proyecto */
  background-color: #fff;
  border-radius: 11px;

  padding: 20px;;
  margin: 10px;
  border: 1px var(--logo-color) solid;
}

.project-card a:hover{
  border-radius: 11px;
  padding: 20px;
  margin: 10px;
  border: 1px var(--logo-color) solid;
  box-shadow: 0 3px 10px var(--primary-shadow);
}

/* RESPONSIVE */
@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  .projects h2{
    text-align: center;
    margin-top: 0rem;
    padding: 2rem 1.5rem 0.1rem;
  }
  .projects-container{
    margin-top: 0rem;
    padding: 0rem 1.5rem;
  }

  .project-pic { /* Captura imag web */
    width: 90%;
  }

  .project-details { /* Contenido escrito */
    width: 90%;
    margin-left: 5%;
    text-align: left;
    padding-bottom: 0rem;
    margin-bottom: var(--bottom-margin-2);
  }

}



/*----------------------*/
/* CONTACT section */
/*----------------------*/
.contact { /* Section */
  background-color: white;
  margin-bottom: var(--bottom-margin-2);
  padding: var(--section-pading);
  border: 2px solid var(--logo-color);
}

.contact h2 { /* Contact title */
  text-align: left;
  font-weight: var(--normal-font);
  color: var(--secondary-color);
  letter-spacing: 0.1em;
  margin-bottom: var(--bottom-margin);
  margin-top: var(--bottom-margin);
}

.contact h3 { /* Contact info */
  text-align: left;
  font-weight: var(--normal-font);
  color: #F42CC3;
  letter-spacing: 0.1em;
  margin-bottom: var(--bottom-margin);
}


/* RESPONSIVE */
@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  .contact h2, .contact h3{
    text-align: center;
  }
}


/*----------------------*/
/* FOOTER section */
/*----------------------*/
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: left;
  padding: var(--section-pading);
  margin-bottom: var(--bottom-margin);
}

/* RESPONSIVE */
@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  footer{
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }
}


/*----------------------*/
/* Scroll to Top Icon */
/*----------------------*/
.scroll-up {
  font-size: 2em;

  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}
